Bucket1/Andreas_copy_of_Hemanth_Copy_of_GTSTG___Offload_from_DB.snapshot
{
  "header" : {
    "dataModelVersion" : "2"
  },
  "content" : {
    "comments" : "Data Lake PoC 1 2 3",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "5a936370-a57c-34bf-8743-c72f6293cdfd",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "1127ff02-97b2-30d7-98f2-999923205289",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "parse.failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "77f61e5c-e53f-3d24-b19a-30b32cf38f2c",
        "name" : "ConsumeKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "576c806c-b62c-3ec2-a816-8c60729ee27d",
        "name" : "PartitionRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "368a1290-e47f-34e1-ae0d-6f5ffb0cfc0b",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "77f61e5c-e53f-3d24-b19a-30b32cf38f2c",
        "name" : "ConsumeKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 508.2782573699951,
        "y" : 1592.652702331543
      }, {
        "x" : 455.89404106140137,
        "y" : 1637.8903732299805
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "4d22fa69-e6eb-30f1-8568-a35e5297cbd4",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "85d50dbc-29c4-380f-999b-aac5cee209ba",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "4d22fa69-e6eb-30f1-8568-a35e5297cbd4",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 38.885257720947266,
        "y" : 1582.681510925293
      }, {
        "x" : -8.783856391906738,
        "y" : 1626.961051940918
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "f05fbf29-fd97-340a-846b-52dfede0a4e6",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "b0f49743-1941-347a-858b-0b2509ae17d4",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "f05fbf29-fd97-340a-846b-52dfede0a4e6",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -2407.164666088026,
        "y" : 1630.213654362255
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "f4f0f301-15d5-3570-8713-93215ac3d019",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "19194f89-a869-3da2-af1b-fd56d7e04b2b",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "original" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "3ad00174-8185-30c6-8105-f8049a0fc271",
        "name" : "QueryRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "f2af62d9-5e92-38dc-b383-e093932e74d0",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "12d6e213-fef0-316f-a705-b8640af27b27",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "33c270af-0eac-3bee-8ed9-c0adc4081477",
        "name" : "Offload registrations",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "6b013e45-e93f-3121-ae4e-d75469f892fd",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "79178d6d-96ed-3005-80c4-1d99e8b49a6d",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "76cfbf29-db06-3b73-b74e-5e8f0b545ae6",
        "name" : "Offload finished sessions DRAFT",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -430.06506538391113,
        "y" : 1353.6613693237305
      }, {
        "x" : -430.06506538391113,
        "y" : 1403.6613693237305
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "c8a39a75-7d10-3dd6-96bc-114f5f6e60bf",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "c2ca3bf7-a9b3-3261-9ba4-d91bf6df3f88",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "c8a39a75-7d10-3dd6-96bc-114f5f6e60bf",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "5fb1f12c-596b-3926-ae99-5469d3f98b49",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "bb68ca60-7f43-3b4b-b04d-56c16c031b9f",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "39d17886-bf3a-390a-bda2-bec4e19f4905",
        "name" : "Offload finished rounds",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -1946.1806200644655,
        "y" : 1362.7264964931046
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "c9ad8c40-d700-383f-a323-1417aba81dd0",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "31913aa0-a0f6-3f94-8dd7-164dd5416939",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "a86ae118-b241-31eb-bc08-bb4775aeb23c",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 510.1594638824463,
        "y" : 929.1613082885742
      }, {
        "x" : 448.24214458465576,
        "y" : 985.3530807495117
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "6b013e45-e93f-3121-ae4e-d75469f892fd",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "02684363-fb99-33b5-8804-588a041df38f",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "6b013e45-e93f-3121-ae4e-d75469f892fd",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "9cf6ec6f-afbd-3f97-b55a-9c5cbc142a9d",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "7341d89d-abcb-3252-8ef8-c0d230cceb4c",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "5fb1f12c-596b-3926-ae99-5469d3f98b49",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 50000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "c8a39a75-7d10-3dd6-96bc-114f5f6e60bf",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "1436b152-8a5b-33d5-a267-7eadaf9bd6e7",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "576c806c-b62c-3ec2-a816-8c60729ee27d",
        "name" : "PartitionRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "dcd1eeac-6075-3cb9-85a9-5b1a795a8f9d",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "57e3c5db-30fd-307b-a332-d914dbafb3a8",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "627235b0-1d9f-37b8-94b3-617b7678439d",
        "name" : "PartitionRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "4d22fa69-e6eb-30f1-8568-a35e5297cbd4",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "359a226e-389f-36b0-bfe9-7ffe8aec64ce",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "9a1eaa70-f9c7-3b28-bfdf-1ddf8925a51b",
        "name" : "Offload Logins",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 50000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "576c806c-b62c-3ec2-a816-8c60729ee27d",
        "name" : "PartitionRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "bc8ee143-594e-3a52-8f78-b5f94718a8e9",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "split" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "38f17b3d-aa56-3aa5-b6b7-2a5c3cb8cc38",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -3106.1897760528764,
        "y" : 1023.6333342446794
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "9cf6ec6f-afbd-3f97-b55a-9c5cbc142a9d",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "78bd5a9d-dc50-369b-8697-075ab6e394be",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "5fb1f12c-596b-3926-ae99-5469d3f98b49",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -1863.3176201895885,
        "y" : 1732.882111393505
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "f4f0f301-15d5-3570-8713-93215ac3d019",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "b2762869-a9d4-3fd5-b071-9b55337fec31",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "3ad00174-8185-30c6-8105-f8049a0fc271",
        "name" : "QueryRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 50000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "c8a39a75-7d10-3dd6-96bc-114f5f6e60bf",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "5e1397b9-1944-3312-9368-4648a7e6abf9",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "a86ae118-b241-31eb-bc08-bb4775aeb23c",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "f4f0f301-15d5-3570-8713-93215ac3d019",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "174b1024-e919-30cf-81dc-d51ff17d410c",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "sumOfStakes" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "3ad00174-8185-30c6-8105-f8049a0fc271",
        "name" : "QueryRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "3ad00174-8185-30c6-8105-f8049a0fc271",
        "name" : "QueryRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "d381261a-e80d-33d7-a877-f5c824dd3808",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "280b95ed-885f-38c8-9544-c581d1597300",
        "name" : "PartitionRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "bc41c6d4-5f09-32be-b2f9-e96951cef344",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "b45b3049-8b93-350f-96d1-35d1fb9c8f31",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "7a4b270b-9bd2-3643-8ea4-1c2d2730544a",
        "name" : "Offload transactions",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "f05fbf29-fd97-340a-846b-52dfede0a4e6",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "59de61d2-722e-3f7c-82fe-e87c95fadbd3",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "880673c3-cf4d-3358-8cbc-e7ad5b0f7088",
        "name" : "Offload registrations",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "f4f0f301-15d5-3570-8713-93215ac3d019",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "6c56c218-8585-3bff-b5c6-422527ec9fbb",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "original", "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "2f359f88-d656-37a8-aeca-72878c1069ae",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -1094.659719467163,
        "y" : 884.972038269043
      }, {
        "x" : -1159.5736818313599,
        "y" : 890.220085144043
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "9abd84f2-4909-3007-bb5c-1ce62fdd0c38",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "be85720b-367e-3832-833f-23443d6c2727",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "9abd84f2-4909-3007-bb5c-1ce62fdd0c38",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : -2728.4814453125,
        "y" : 631.9668579101562
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "627235b0-1d9f-37b8-94b3-617b7678439d",
        "name" : "PartitionRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "3b272481-4f16-3b0f-a388-2980060dd07c",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "de02a0c7-bf1a-3e2a-8e0f-a52804e32bc8",
        "name" : "ConsumeKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "280b95ed-885f-38c8-9544-c581d1597300",
        "name" : "PartitionRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "56b33fc1-5b91-31a9-aa58-c4b4684b857f",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "109a64fe-d27e-3652-9cca-f6f6151775ba",
        "name" : "ConsumeKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "2f359f88-d656-37a8-aeca-72878c1069ae",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "098b4165-b9d8-3bdd-8c43-1bfbf777cde0",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "280b95ed-885f-38c8-9544-c581d1597300",
        "name" : "PartitionRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 974.7725620269775,
        "y" : 930.9423141479492
      }, {
        "x" : 912.855242729187,
        "y" : 987.1340866088867
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "bc41c6d4-5f09-32be-b2f9-e96951cef344",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "0e0a24bf-96e1-34c3-ae48-377cb5b295bc",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "bc41c6d4-5f09-32be-b2f9-e96951cef344",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 968.6245861053467,
        "y" : 1600.589714050293
      }, {
        "x" : 901.9537487030029,
        "y" : 1645.8273849487305
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "f2af62d9-5e92-38dc-b383-e093932e74d0",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "f9e034b9-7776-3053-a928-995502b1425a",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "f2af62d9-5e92-38dc-b383-e093932e74d0",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "010c1dce-e2f5-3c53-aad6-0d03cd95fe05",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "11222343-251a-3efb-9d88-3a845ea7281f",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "split" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "2f359f88-d656-37a8-aeca-72878c1069ae",
        "name" : "SplitJson",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "7163eabf-5367-3aa7-897e-a5e34e088b51",
        "name" : "UpdateCounter",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "a5cb4181-1c5e-3621-8daf-8de57c1ce12d",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "010c1dce-e2f5-3c53-aad6-0d03cd95fe05",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "e731b535-5d67-342d-adcf-0df12ff4d630",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "9f2c5b55-5994-3a1c-95c4-f9a98ca3a186",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "010c1dce-e2f5-3c53-aad6-0d03cd95fe05",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "9abd84f2-4909-3007-bb5c-1ce62fdd0c38",
        "name" : "PublishKafkaRecord_2_0",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "fd83c6ab-4ddc-3f22-9fca-0f95c092afaf",
      "labelIndex" : 1,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "c1ab7b61-841a-368e-9073-98782d178d31",
        "id" : "43dc149f-c01d-3bc3-b0c0-5f573ab57777",
        "name" : "Offload finished rounds",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.9.0.1.0.0.0-90"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "35c6a87d-87db-3a67-9f43-b58cad94e00a",
      "name" : "JsonRecordSetWriter",
      "properties" : {
        "compression-level" : "1",
        "Pretty Print JSON" : "false",
        "compression-format" : "none",
        "Schema Write Strategy" : "no-schema",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "${schema.name}",
        "schema-access-strategy" : "inherit-record-schema",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "compression-level" : {
          "displayName" : "Compression Level",
          "identifiesControllerService" : false,
          "name" : "compression-level",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "suppress-nulls" : {
          "displayName" : "Suppress Null Values",
          "identifiesControllerService" : false,
          "name" : "suppress-nulls",
          "sensitive" : false
        },
        "output-grouping" : {
          "displayName" : "Output Grouping",
          "identifiesControllerService" : false,
          "name" : "output-grouping",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    }, {
      "bundle" : {
        "artifact" : "nifi-dbcp-service-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.9.0.1.0.0.0-90"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "e8d7ce32-59c0-37cd-9fa0-9dc1b4dbf25a",
      "name" : "DBCPConnectionPool",
      "properties" : {
        "dbcp-min-idle-conns" : "0",
        "Max Wait Time" : "500 millis",
        "Database Driver Class Name" : "com.microsoft.sqlserver.jdbc.SQLServerDriver",
        "dbcp-min-evictable-idle-time" : "30 mins",
        "Max Total Connections" : "8",
        "dbcp-max-conn-lifetime" : "-1",
        "Database Connection URL" : "jdbc:sqlserver://stg-core1.gtstg.lan:1433;databaseName=gamebase_casino;",
        "dbcp-time-between-eviction-runs" : "-1",
        "Database User" : "datalake_user",
        "dbcp-soft-min-evictable-idle-time" : "-1",
        "database-driver-locations" : "file:///opt/nifi/drivers/mssql-jdbc-7.2.2.jre8.jar",
        "dbcp-max-idle-conns" : "8"
      },
      "propertyDescriptors" : {
        "dbcp-min-idle-conns" : {
          "displayName" : "Minimum Idle Connections",
          "identifiesControllerService" : false,
          "name" : "dbcp-min-idle-conns",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "displayName" : "Database Driver Class Name",
          "identifiesControllerService" : false,
          "name" : "Database Driver Class Name",
          "sensitive" : false
        },
        "dbcp-min-evictable-idle-time" : {
          "displayName" : "Minimum Evictable Idle Time",
          "identifiesControllerService" : false,
          "name" : "dbcp-min-evictable-idle-time",
          "sensitive" : false
        },
        "Max Total Connections" : {
          "displayName" : "Max Total Connections",
          "identifiesControllerService" : false,
          "name" : "Max Total Connections",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "dbcp-max-conn-lifetime" : {
          "displayName" : "Max Connection Lifetime",
          "identifiesControllerService" : false,
          "name" : "dbcp-max-conn-lifetime",
          "sensitive" : false
        },
        "Validation-query" : {
          "displayName" : "Validation query",
          "identifiesControllerService" : false,
          "name" : "Validation-query",
          "sensitive" : false
        },
        "Database Connection URL" : {
          "displayName" : "Database Connection URL",
          "identifiesControllerService" : false,
          "name" : "Database Connection URL",
          "sensitive" : false
        },
        "dbcp-time-between-eviction-runs" : {
          "displayName" : "Time Between Eviction Runs",
          "identifiesControllerService" : false,
          "name" : "dbcp-time-between-eviction-runs",
          "sensitive" : false
        },
        "Database User" : {
          "displayName" : "Database User",
          "identifiesControllerService" : false,
          "name" : "Database User",
          "sensitive" : false
        },
        "dbcp-soft-min-evictable-idle-time" : {
          "displayName" : "Soft Minimum Evictable Idle Time",
          "identifiesControllerService" : false,
          "name" : "dbcp-soft-min-evictable-idle-time",
          "sensitive" : false
        },
        "database-driver-locations" : {
          "displayName" : "Database Driver Location(s)",
          "identifiesControllerService" : false,
          "name" : "database-driver-locations",
          "sensitive" : false
        },
        "dbcp-max-idle-conns" : {
          "displayName" : "Max Idle Connections",
          "identifiesControllerService" : false,
          "name" : "dbcp-max-idle-conns",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
    }, {
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.9.0.1.0.0.0-90"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "52ba1c9d-8e48-366d-bde2-b7fca2d89c8a",
      "name" : "AvroReader",
      "properties" : {
        "schema-name" : "${schema.name}",
        "cache-size" : "1000",
        "schema-access-strategy" : "embedded-avro-schema",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "cache-size" : {
          "displayName" : "Cache Size",
          "identifiesControllerService" : false,
          "name" : "cache-size",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.avro.AvroReader"
    }, {
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "1.9.0.1.0.0.0-90"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "20987b12-b6ab-314b-b7e5-39e76e0443a4",
      "name" : "JsonTreeReader",
      "properties" : {
        "schema-name" : "${schema.name}",
        "schema-access-strategy" : "infer-schema",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "schema-inference-cache" : {
          "displayName" : "Schema Inference Cache",
          "identifiesControllerService" : true,
          "name" : "schema-inference-cache",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "type" : "org.apache.nifi.json.JsonTreeReader"
    } ],
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "e731b535-5d67-342d-adcf-0df12ff4d630",
      "position" : {
        "x" : -3568.6489010059327,
        "y" : 1927.0050710073212
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "f4f0f301-15d5-3570-8713-93215ac3d019",
      "position" : {
        "x" : -2296.79287403764,
        "y" : 1725.189979917593
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "9cf6ec6f-afbd-3f97-b55a-9c5cbc142a9d",
      "position" : {
        "x" : -3394.7182686127103,
        "y" : 1117.0126477984409
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "c9ad8c40-d700-383f-a323-1417aba81dd0",
      "position" : {
        "x" : -2222.3282469450737,
        "y" : 1339.0127382007577
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "5a936370-a57c-34bf-8743-c72f6293cdfd",
      "position" : {
        "x" : -2173.243768670595,
        "y" : 908.5773129018066
      }
    } ],
    "identifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
    "inputPorts" : [ ],
    "labels" : [ {
      "componentType" : "LABEL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "height" : 594.2569274902344,
      "identifier" : "48b25228-65b8-33e3-bb7f-ca331d45ad3f",
      "label" : "OFFLOAD gamebase.dbo.player_events",
      "position" : {
        "x" : 705.320331885555,
        "y" : 1109.7471569522816
      },
      "style" : {
        "background-color" : "#b5b5b5",
        "font-size" : "16px"
      },
      "width" : 414.69664001464844
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "height" : 595.6010437011719,
      "identifier" : "0e48e097-9406-3978-86cb-bebcd94e19ad",
      "label" : "OFFLOAD gamebase.dbo.players_base\n|| output columns based on PlayerRegistered event",
      "position" : {
        "x" : -214.90814559247235,
        "y" : 1106.4839733585316
      },
      "style" : {
        "background-color" : "#e8e8e8",
        "font-size" : "16px"
      },
      "width" : 414.69664001464844
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "height" : 1467.1423645019531,
      "identifier" : "bb583ca0-28f2-3880-a8e2-0b88fc3a9b0c",
      "label" : "OFFLOAD gamebase_casino.dbo.rounds (cleaned)",
      "position" : {
        "x" : -1772.5980335929607,
        "y" : 532.0595959171253
      },
      "style" : {
        "background-color" : "#e8e8e8",
        "font-size" : "16px"
      },
      "width" : 1385.083267211914
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "height" : 594.2569274902344,
      "identifier" : "36a180a1-a2a5-3b4e-a034-ab165883c01d",
      "label" : "OFFLOAD gamebase_casino.dbo.session (cleaned)",
      "position" : {
        "x" : 242.69307358477374,
        "y" : 471.81673703040656
      },
      "style" : {
        "background-color" : "#cccccc",
        "font-size" : "16px"
      },
      "width" : 414.69664001464844
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "height" : 594.2569274902344,
      "identifier" : "19270852-00cd-3095-af26-94c8093f299e",
      "label" : "OFFLOAD gamebase.dbo.log_player_logins",
      "position" : {
        "x" : 242.29463608477374,
        "y" : 1107.9661510929066
      },
      "style" : {
        "background-color" : "#cccccc",
        "font-size" : "16px"
      },
      "width" : 414.69664001464844
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "height" : 1357.67041015625,
      "identifier" : "3c5f799f-e22b-3ad3-846a-c95a236bd5c4",
      "label" : "Borut KPIs",
      "position" : {
        "x" : -3471.687200457167,
        "y" : 193.7979014626825
      },
      "style" : {
        "font-size" : "12px"
      },
      "width" : 1222.4862365722656
    }, {
      "componentType" : "LABEL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "height" : 594.2569274902344,
      "identifier" : "f209b394-810f-3a63-9fb2-856d7ca7fea5",
      "label" : "OFFLOAD gamebase.dbo.acc_transactions (cleaned)",
      "position" : {
        "x" : 714.0081980964925,
        "y" : 469.5765636905628
      },
      "style" : {
        "background-color" : "#b5b5b5",
        "font-size" : "16px"
      },
      "width" : 414.69664001464844
    } ],
    "name" : "Andreas copy of Hemanth Copy of GTSTG | Offload from DB",
    "outputPorts" : [ ],
    "position" : {
      "x" : 1665.4872841919578,
      "y" : 69.15087905634687
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "7a4b270b-9bd2-3643-8ea4-1c2d2730544a",
      "name" : "Offload transactions",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 739.4598933544023,
        "y" : 547.5935353578343
      },
      "properties" : {
        "Table Name" : "acc_transactions",
        "db-fetch-db-type" : "MS SQL 2012+",
        "dbf-default-precision" : "28",
        "Max Wait Time" : "0 seconds",
        "Database Connection Pooling Service" : "e8d7ce32-59c0-37cd-9fa0-9dc1b4dbf25a",
        "Maximum-value Columns" : "cDate",
        "dbf-user-logical-types" : "true",
        "qdbt-output-batch-size" : "1000",
        "qdbt-max-rows" : "1000",
        "qdbt-max-frags" : "0",
        "dbf-default-scale" : "12",
        "Fetch Size" : "1000",
        "db-fetch-sql-query" : "SELECT\n\tt.id_transaction [transactionId],\n\tt.fk_player [playerId],\n\tp.fkg_site [siteId],\n\tt.fk_application [applicationId],\n\tp.fkg_partner [partnerId],\n\tt.fk_clientType [clientTypeId],\n\tccr.rate [exchangeRate],\n\tt.fk_type,\n\tt.fk_dyn,\n\tt.bonus_points,\n\tt.bonus_money,\n\tt.real_money,\n\tt.gt_share,\n\tt.bonus_rake,\n\tt.cDate,\n\tt.bm_before,\n\tt.rm_before,\n\tt.fk_jackpot,\n\tt.jackpotFee,\n\tt.payable_money,\n\tt.pm_before,\n\tt.fk_game,\n\tt.fk_gameVariation,\n\tt.fk_currencyRate,\n\tt.fk_proofVAT\nFROM [gamebase].[dbo].[ACC_TRANSACTIONS] t\nINNER JOIN [gamebase_casino].[dbo].[PLAYERS] p with (nolock)\nON (t.fk_player = p.fk_player)\nINNER JOIN [gamebase].[dbo].[CS_CURRENCY_RATES] ccr with (nolock)\nON (ccr.id_rate = t.fk_currencyRate)",
        "dbf-normalize" : "false",
        "transaction-isolation-level" : "2"
      },
      "propertyDescriptors" : {
        "Table Name" : {
          "displayName" : "Table Name",
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "db-fetch-db-type" : {
          "displayName" : "Database Type",
          "identifiesControllerService" : false,
          "name" : "db-fetch-db-type",
          "sensitive" : false
        },
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "Maximum-value Columns" : {
          "displayName" : "Maximum-value Columns",
          "identifiesControllerService" : false,
          "name" : "Maximum-value Columns",
          "sensitive" : false
        },
        "dbf-user-logical-types" : {
          "displayName" : "Use Avro Logical Types",
          "identifiesControllerService" : false,
          "name" : "dbf-user-logical-types",
          "sensitive" : false
        },
        "qdbt-output-batch-size" : {
          "displayName" : "Output Batch Size",
          "identifiesControllerService" : false,
          "name" : "qdbt-output-batch-size",
          "sensitive" : false
        },
        "qdbt-max-rows" : {
          "displayName" : "Max Rows Per Flow File",
          "identifiesControllerService" : false,
          "name" : "qdbt-max-rows",
          "sensitive" : false
        },
        "qdbt-max-frags" : {
          "displayName" : "Maximum Number of Fragments",
          "identifiesControllerService" : false,
          "name" : "qdbt-max-frags",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "Fetch Size" : {
          "displayName" : "Fetch Size",
          "identifiesControllerService" : false,
          "name" : "Fetch Size",
          "sensitive" : false
        },
        "db-fetch-sql-query" : {
          "displayName" : "Custom Query",
          "identifiesControllerService" : false,
          "name" : "db-fetch-sql-query",
          "sensitive" : false
        },
        "Columns to Return" : {
          "displayName" : "Columns to Return",
          "identifiesControllerService" : false,
          "name" : "Columns to Return",
          "sensitive" : false
        },
        "db-fetch-where-clause" : {
          "displayName" : "Additional WHERE clause",
          "identifiesControllerService" : false,
          "name" : "db-fetch-where-clause",
          "sensitive" : false
        },
        "dbf-normalize" : {
          "displayName" : "Normalize Table/Column Names",
          "identifiesControllerService" : false,
          "name" : "dbf-normalize",
          "sensitive" : false
        },
        "transaction-isolation-level" : {
          "displayName" : "Transaction Isolation Level",
          "identifiesControllerService" : false,
          "name" : "transaction-isolation-level",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.QueryDatabaseTable",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "76cfbf29-db06-3b73-b74e-5e8f0b545ae6",
      "name" : "Offload finished sessions DRAFT",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 274.846795209871,
        "y" : 545.8125294984593
      },
      "properties" : {
        "Table Name" : "rounds",
        "db-fetch-db-type" : "MS SQL 2012+",
        "dbf-default-precision" : "28",
        "Max Wait Time" : "0 seconds",
        "Database Connection Pooling Service" : "e8d7ce32-59c0-37cd-9fa0-9dc1b4dbf25a",
        "Maximum-value Columns" : "finishDate",
        "dbf-user-logical-types" : "true",
        "qdbt-output-batch-size" : "1000",
        "qdbt-max-rows" : "1000",
        "qdbt-max-frags" : "0",
        "dbf-default-scale" : "12",
        "Fetch Size" : "1000",
        "db-fetch-sql-query" : "SELECT\ns.fk_player [playerId],\np.fkg_site [siteId],\ns.fkg_applicationStarted [applicationId],\nr.fkg_clientTypeStarted [clientTypeId],\ns.fkg_gameIdRow [gameId],\nr.fk_session [sessionId],\nr.id [roundId],\nr.stake,\nr.win,\nr.winEstimatedExtra,\nr.isFinished,\nr.isJackpotHit,\nr.jackpotFee,\nr.jackpotWin,\nr.betsPlaced,\nr.cDate,\nr.finishDate,\nr.totalWinEuro,\nr.jackpotStake,\nr.stakeBonusFraction,\ns.fkg_currency,\ns.fkg_currencyRate,\ns.currencySign,\nccr.rate [exchangeRate]\nFROM [gamebase_casino].[dbo].[ROUNDS] r with (nolock)\nLEFT JOIN [gamebase_casino].[dbo].[SESSIONS] s with (nolock)\nON (r.fk_session = s.id)\nINNER JOIN [gamebase_casino].[dbo].[PLAYERS] p with (nolock)\nON (s.fk_player = p.fk_player)\nINNER JOIN [gamebase].[dbo].[CS_CURRENCY_RATES] ccr with (nolock)\nON (ccr.id_rate = s.fkg_currencyRate)",
        "dbf-normalize" : "false",
        "transaction-isolation-level" : "2"
      },
      "propertyDescriptors" : {
        "Table Name" : {
          "displayName" : "Table Name",
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "db-fetch-db-type" : {
          "displayName" : "Database Type",
          "identifiesControllerService" : false,
          "name" : "db-fetch-db-type",
          "sensitive" : false
        },
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "Maximum-value Columns" : {
          "displayName" : "Maximum-value Columns",
          "identifiesControllerService" : false,
          "name" : "Maximum-value Columns",
          "sensitive" : false
        },
        "dbf-user-logical-types" : {
          "displayName" : "Use Avro Logical Types",
          "identifiesControllerService" : false,
          "name" : "dbf-user-logical-types",
          "sensitive" : false
        },
        "qdbt-output-batch-size" : {
          "displayName" : "Output Batch Size",
          "identifiesControllerService" : false,
          "name" : "qdbt-output-batch-size",
          "sensitive" : false
        },
        "qdbt-max-rows" : {
          "displayName" : "Max Rows Per Flow File",
          "identifiesControllerService" : false,
          "name" : "qdbt-max-rows",
          "sensitive" : false
        },
        "qdbt-max-frags" : {
          "displayName" : "Maximum Number of Fragments",
          "identifiesControllerService" : false,
          "name" : "qdbt-max-frags",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "Fetch Size" : {
          "displayName" : "Fetch Size",
          "identifiesControllerService" : false,
          "name" : "Fetch Size",
          "sensitive" : false
        },
        "db-fetch-sql-query" : {
          "displayName" : "Custom Query",
          "identifiesControllerService" : false,
          "name" : "db-fetch-sql-query",
          "sensitive" : false
        },
        "Columns to Return" : {
          "displayName" : "Columns to Return",
          "identifiesControllerService" : false,
          "name" : "Columns to Return",
          "sensitive" : false
        },
        "db-fetch-where-clause" : {
          "displayName" : "Additional WHERE clause",
          "identifiesControllerService" : false,
          "name" : "db-fetch-where-clause",
          "sensitive" : false
        },
        "dbf-normalize" : {
          "displayName" : "Normalize Table/Column Names",
          "identifiesControllerService" : false,
          "name" : "dbf-normalize",
          "sensitive" : false
        },
        "transaction-isolation-level" : {
          "displayName" : "Transaction Isolation Level",
          "identifiesControllerService" : false,
          "name" : "transaction-isolation-level",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.QueryDatabaseTable",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "880673c3-cf4d-3358-8cbc-e7ad5b0f7088",
      "name" : "Offload registrations",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -185.13497784918422,
        "y" : 1193.68852180256
      },
      "properties" : {
        "Table Name" : "PLAYERS_BASE",
        "db-fetch-db-type" : "MS SQL 2012+",
        "dbf-default-precision" : "28",
        "Max Wait Time" : "0 seconds",
        "Database Connection Pooling Service" : "e8d7ce32-59c0-37cd-9fa0-9dc1b4dbf25a",
        "Maximum-value Columns" : "PlayerId",
        "dbf-user-logical-types" : "true",
        "qdbt-output-batch-size" : "1000",
        "qdbt-max-rows" : "1000",
        "qdbt-max-frags" : "0",
        "dbf-default-scale" : "12",
        "Fetch Size" : "1000",
        "db-fetch-sql-query" : "select pb.id_player [PlayerId],\n\taa.applicationId [ApplicationId],\n\tpb.fk_site [SiteId],\n\tnull [Version],\n\t'Speed Force' [Source],\n\tpb.regdate [EventDate],\n\tpb.ecUserId [ExternalPlayerId],\n\tnull [GoogleAnalyticsCookie],\n\tpb.last_ip [IpAddress],\n\t1 [Type],\n\tnull [ConfirmEmailKey],\n\tnull [ConfirmEmailPageUrlWithKey],\n\tpb.nick [Nickname],\n\tpb.fk_mode [PlayerMode],\n\tpb.fk_invited_by [InvitationByPlayer],\n\tpb.fk_referer [ReferrerId],\n\tgmg.value [MarketingGridId],\n\tcc.CountryCode [CountryCodeFromIp]\nfrom gamebase.dbo.PLAYERS_BASE pb with (nolock)\n\tleft join gamebase.dbo.APP_APPLICATIONS aa with (nolock) on aa.id = pb.fk_applicationLast\n\tleft join gamebase.dbo.PLAYER_PROPERTY_VALUES gmg with (nolock) on gmg.fk_property = 276 and gmg.fk_player = pb.id_player\n\tleft join gamebase.dbo.CS_COUNTRIES cc with (nolock) on cc.ID_Country = pb.fk_countryLastIp\n",
        "db-fetch-where-clause" : "PlayerId >= 267740000",
        "dbf-normalize" : "false",
        "transaction-isolation-level" : "1"
      },
      "propertyDescriptors" : {
        "Table Name" : {
          "displayName" : "Table Name",
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "db-fetch-db-type" : {
          "displayName" : "Database Type",
          "identifiesControllerService" : false,
          "name" : "db-fetch-db-type",
          "sensitive" : false
        },
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "Maximum-value Columns" : {
          "displayName" : "Maximum-value Columns",
          "identifiesControllerService" : false,
          "name" : "Maximum-value Columns",
          "sensitive" : false
        },
        "dbf-user-logical-types" : {
          "displayName" : "Use Avro Logical Types",
          "identifiesControllerService" : false,
          "name" : "dbf-user-logical-types",
          "sensitive" : false
        },
        "qdbt-output-batch-size" : {
          "displayName" : "Output Batch Size",
          "identifiesControllerService" : false,
          "name" : "qdbt-output-batch-size",
          "sensitive" : false
        },
        "qdbt-max-rows" : {
          "displayName" : "Max Rows Per Flow File",
          "identifiesControllerService" : false,
          "name" : "qdbt-max-rows",
          "sensitive" : false
        },
        "qdbt-max-frags" : {
          "displayName" : "Maximum Number of Fragments",
          "identifiesControllerService" : false,
          "name" : "qdbt-max-frags",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "Fetch Size" : {
          "displayName" : "Fetch Size",
          "identifiesControllerService" : false,
          "name" : "Fetch Size",
          "sensitive" : false
        },
        "db-fetch-sql-query" : {
          "displayName" : "Custom Query",
          "identifiesControllerService" : false,
          "name" : "db-fetch-sql-query",
          "sensitive" : false
        },
        "Columns to Return" : {
          "displayName" : "Columns to Return",
          "identifiesControllerService" : false,
          "name" : "Columns to Return",
          "sensitive" : false
        },
        "db-fetch-where-clause" : {
          "displayName" : "Additional WHERE clause",
          "identifiesControllerService" : false,
          "name" : "db-fetch-where-clause",
          "sensitive" : false
        },
        "dbf-normalize" : {
          "displayName" : "Normalize Table/Column Names",
          "identifiesControllerService" : false,
          "name" : "dbf-normalize",
          "sensitive" : false
        },
        "transaction-isolation-level" : {
          "displayName" : "Transaction Isolation Level",
          "identifiesControllerService" : false,
          "name" : "transaction-isolation-level",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.QueryDatabaseTable",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "280b95ed-885f-38c8-9544-c581d1597300",
      "name" : "PartitionRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -2915.9858160008525,
        "y" : 1449.1968151234034
      },
      "properties" : {
        "record-writer" : "35c6a87d-87db-3a67-9f43-b58cad94e00a",
        "record-reader" : "20987b12-b6ab-314b-b7e5-39e76e0443a4",
        "playerId" : "/playerId"
      },
      "propertyDescriptors" : {
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "playerId" : {
          "displayName" : "playerId",
          "identifiesControllerService" : false,
          "name" : "playerId",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PartitionRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-2-0-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "f05fbf29-fd97-340a-846b-52dfede0a4e6",
      "name" : "PublishKafkaRecord_2_0",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -182.90904426574707,
        "y" : 1433.9958419799805
      },
      "properties" : {
        "compression.type" : "none",
        "ack.wait.time" : "5 secs",
        "use-transactions" : "false",
        "record-writer" : "35c6a87d-87db-3a67-9f43-b58cad94e00a",
        "acks" : "all",
        "bootstrap.servers" : "${kafka_brokers}",
        "security.protocol" : "PLAINTEXT",
        "max.request.size" : "1 MB",
        "message-key-field" : "${PlayerId}",
        "max.block.ms" : "5 sec",
        "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
        "topic" : "gtstg.gamebase.players_base_extended",
        "record-reader" : "52ba1c9d-8e48-366d-bde2-b7fca2d89c8a",
        "message-header-encoding" : "UTF-8"
      },
      "propertyDescriptors" : {
        "compression.type" : {
          "displayName" : "Compression Type",
          "identifiesControllerService" : false,
          "name" : "compression.type",
          "sensitive" : false
        },
        "ack.wait.time" : {
          "displayName" : "Acknowledgment Wait Time",
          "identifiesControllerService" : false,
          "name" : "ack.wait.time",
          "sensitive" : false
        },
        "use-transactions" : {
          "displayName" : "Use Transactions",
          "identifiesControllerService" : false,
          "name" : "use-transactions",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "acks" : {
          "displayName" : "Delivery Guarantee",
          "identifiesControllerService" : false,
          "name" : "acks",
          "sensitive" : false
        },
        "bootstrap.servers" : {
          "displayName" : "Kafka Brokers",
          "identifiesControllerService" : false,
          "name" : "bootstrap.servers",
          "sensitive" : false
        },
        "sasl.kerberos.principal" : {
          "displayName" : "Kerberos Principal",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.principal",
          "sensitive" : false
        },
        "sasl.kerberos.service.name" : {
          "displayName" : "Kerberos Service Name",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.service.name",
          "sensitive" : false
        },
        "security.protocol" : {
          "displayName" : "Security Protocol",
          "identifiesControllerService" : false,
          "name" : "security.protocol",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "ssl.context.service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "ssl.context.service",
          "sensitive" : false
        },
        "max.request.size" : {
          "displayName" : "Max Request Size",
          "identifiesControllerService" : false,
          "name" : "max.request.size",
          "sensitive" : false
        },
        "message-key-field" : {
          "displayName" : "Message Key Field",
          "identifiesControllerService" : false,
          "name" : "message-key-field",
          "sensitive" : false
        },
        "max.block.ms" : {
          "displayName" : "Max Metadata Wait Time",
          "identifiesControllerService" : false,
          "name" : "max.block.ms",
          "sensitive" : false
        },
        "partitioner.class" : {
          "displayName" : "Partitioner class",
          "identifiesControllerService" : false,
          "name" : "partitioner.class",
          "sensitive" : false
        },
        "sasl.kerberos.keytab" : {
          "displayName" : "Kerberos Keytab",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.keytab",
          "sensitive" : false
        },
        "topic" : {
          "displayName" : "Topic Name",
          "identifiesControllerService" : false,
          "name" : "topic",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "message-header-encoding" : {
          "displayName" : "Message Header Encoding",
          "identifiesControllerService" : false,
          "name" : "message-header-encoding",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "parse.failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-2-0-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "de02a0c7-bf1a-3e2a-8e0f-a52804e32bc8",
      "name" : "ConsumeKafkaRecord_2_0",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -2918.3956327012565,
        "y" : 445.36996754677784
      },
      "properties" : {
        "max.poll.records" : "10000",
        "record-writer" : "35c6a87d-87db-3a67-9f43-b58cad94e00a",
        "group.id" : "bogri.nifi.rounds_finished.test1",
        "bootstrap.servers" : "${kafka_brokers}",
        "topic_type" : "names",
        "security.protocol" : "PLAINTEXT",
        "max-uncommit-offset-wait" : "1 secs",
        "honor-transactions" : "true",
        "Communications Timeout" : "60 secs",
        "topic" : "bogri.nifi.rounds_finished",
        "record-reader" : "20987b12-b6ab-314b-b7e5-39e76e0443a4",
        "message-header-encoding" : "UTF-8",
        "auto.offset.reset" : "latest"
      },
      "propertyDescriptors" : {
        "header-name-regex" : {
          "displayName" : "Headers to Add as Attributes (Regex)",
          "identifiesControllerService" : false,
          "name" : "header-name-regex",
          "sensitive" : false
        },
        "max.poll.records" : {
          "displayName" : "Max Poll Records",
          "identifiesControllerService" : false,
          "name" : "max.poll.records",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "group.id" : {
          "displayName" : "Group ID",
          "identifiesControllerService" : false,
          "name" : "group.id",
          "sensitive" : false
        },
        "bootstrap.servers" : {
          "displayName" : "Kafka Brokers",
          "identifiesControllerService" : false,
          "name" : "bootstrap.servers",
          "sensitive" : false
        },
        "topic_type" : {
          "displayName" : "Topic Name Format",
          "identifiesControllerService" : false,
          "name" : "topic_type",
          "sensitive" : false
        },
        "sasl.kerberos.principal" : {
          "displayName" : "Kerberos Principal",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.principal",
          "sensitive" : false
        },
        "sasl.kerberos.service.name" : {
          "displayName" : "Kerberos Service Name",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.service.name",
          "sensitive" : false
        },
        "security.protocol" : {
          "displayName" : "Security Protocol",
          "identifiesControllerService" : false,
          "name" : "security.protocol",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "ssl.context.service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "ssl.context.service",
          "sensitive" : false
        },
        "max-uncommit-offset-wait" : {
          "displayName" : "Max Uncommitted Time",
          "identifiesControllerService" : false,
          "name" : "max-uncommit-offset-wait",
          "sensitive" : false
        },
        "honor-transactions" : {
          "displayName" : "Honor Transactions",
          "identifiesControllerService" : false,
          "name" : "honor-transactions",
          "sensitive" : false
        },
        "sasl.kerberos.keytab" : {
          "displayName" : "Kerberos Keytab",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.keytab",
          "sensitive" : false
        },
        "Communications Timeout" : {
          "displayName" : "Communications Timeout",
          "identifiesControllerService" : false,
          "name" : "Communications Timeout",
          "sensitive" : false
        },
        "topic" : {
          "displayName" : "Topic Name(s)",
          "identifiesControllerService" : false,
          "name" : "topic",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "message-header-encoding" : {
          "displayName" : "Message Header Encoding",
          "identifiesControllerService" : false,
          "name" : "message-header-encoding",
          "sensitive" : false
        },
        "auto.offset.reset" : {
          "displayName" : "Offset Reset",
          "identifiesControllerService" : false,
          "name" : "auto.offset.reset",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "627235b0-1d9f-37b8-94b3-617b7678439d",
      "name" : "PartitionRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -2914.7358160008525,
        "y" : 684.1967540882472
      },
      "properties" : {
        "record-writer" : "35c6a87d-87db-3a67-9f43-b58cad94e00a",
        "siteId" : "/siteId",
        "record-reader" : "20987b12-b6ab-314b-b7e5-39e76e0443a4"
      },
      "propertyDescriptors" : {
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "siteId" : {
          "displayName" : "siteId",
          "identifiesControllerService" : false,
          "name" : "siteId",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PartitionRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "parse.failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-2-0-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "109a64fe-d27e-3652-9cca-f6f6151775ba",
      "name" : "ConsumeKafkaRecord_2_0",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -2900.8956327012565,
        "y" : 1156.620028581934
      },
      "properties" : {
        "max.poll.records" : "10000",
        "record-writer" : "35c6a87d-87db-3a67-9f43-b58cad94e00a",
        "group.id" : "bogri.nifi.rounds_finished.test1",
        "bootstrap.servers" : "${kafka_brokers}",
        "topic_type" : "names",
        "security.protocol" : "PLAINTEXT",
        "max-uncommit-offset-wait" : "1 secs",
        "honor-transactions" : "true",
        "Communications Timeout" : "60 secs",
        "topic" : "bogri.nifi.test.round_finished.s335",
        "record-reader" : "20987b12-b6ab-314b-b7e5-39e76e0443a4",
        "message-header-encoding" : "UTF-8",
        "auto.offset.reset" : "latest"
      },
      "propertyDescriptors" : {
        "header-name-regex" : {
          "displayName" : "Headers to Add as Attributes (Regex)",
          "identifiesControllerService" : false,
          "name" : "header-name-regex",
          "sensitive" : false
        },
        "max.poll.records" : {
          "displayName" : "Max Poll Records",
          "identifiesControllerService" : false,
          "name" : "max.poll.records",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "group.id" : {
          "displayName" : "Group ID",
          "identifiesControllerService" : false,
          "name" : "group.id",
          "sensitive" : false
        },
        "bootstrap.servers" : {
          "displayName" : "Kafka Brokers",
          "identifiesControllerService" : false,
          "name" : "bootstrap.servers",
          "sensitive" : false
        },
        "topic_type" : {
          "displayName" : "Topic Name Format",
          "identifiesControllerService" : false,
          "name" : "topic_type",
          "sensitive" : false
        },
        "sasl.kerberos.principal" : {
          "displayName" : "Kerberos Principal",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.principal",
          "sensitive" : false
        },
        "sasl.kerberos.service.name" : {
          "displayName" : "Kerberos Service Name",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.service.name",
          "sensitive" : false
        },
        "security.protocol" : {
          "displayName" : "Security Protocol",
          "identifiesControllerService" : false,
          "name" : "security.protocol",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "ssl.context.service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "ssl.context.service",
          "sensitive" : false
        },
        "max-uncommit-offset-wait" : {
          "displayName" : "Max Uncommitted Time",
          "identifiesControllerService" : false,
          "name" : "max-uncommit-offset-wait",
          "sensitive" : false
        },
        "honor-transactions" : {
          "displayName" : "Honor Transactions",
          "identifiesControllerService" : false,
          "name" : "honor-transactions",
          "sensitive" : false
        },
        "sasl.kerberos.keytab" : {
          "displayName" : "Kerberos Keytab",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.keytab",
          "sensitive" : false
        },
        "Communications Timeout" : {
          "displayName" : "Communications Timeout",
          "identifiesControllerService" : false,
          "name" : "Communications Timeout",
          "sensitive" : false
        },
        "topic" : {
          "displayName" : "Topic Name(s)",
          "identifiesControllerService" : false,
          "name" : "topic",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "message-header-encoding" : {
          "displayName" : "Message Header Encoding",
          "identifiesControllerService" : false,
          "name" : "message-header-encoding",
          "sensitive" : false
        },
        "auto.offset.reset" : {
          "displayName" : "Offset Reset",
          "identifiesControllerService" : false,
          "name" : "auto.offset.reset",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-2-0-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "bc41c6d4-5f09-32be-b2f9-e96951cef344",
      "name" : "PublishKafkaRecord_2_0",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 737.7708759307861,
        "y" : 754.7241744995117
      },
      "properties" : {
        "compression.type" : "none",
        "ack.wait.time" : "5 secs",
        "use-transactions" : "false",
        "record-writer" : "35c6a87d-87db-3a67-9f43-b58cad94e00a",
        "acks" : "all",
        "bootstrap.servers" : "${kafka_brokers}",
        "security.protocol" : "PLAINTEXT",
        "max.request.size" : "1 MB",
        "message-key-field" : "${playerId}",
        "max.block.ms" : "5 sec",
        "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
        "topic" : "gtstg.gamebase.transactions_extended",
        "record-reader" : "52ba1c9d-8e48-366d-bde2-b7fca2d89c8a",
        "message-header-encoding" : "UTF-8"
      },
      "propertyDescriptors" : {
        "compression.type" : {
          "displayName" : "Compression Type",
          "identifiesControllerService" : false,
          "name" : "compression.type",
          "sensitive" : false
        },
        "ack.wait.time" : {
          "displayName" : "Acknowledgment Wait Time",
          "identifiesControllerService" : false,
          "name" : "ack.wait.time",
          "sensitive" : false
        },
        "use-transactions" : {
          "displayName" : "Use Transactions",
          "identifiesControllerService" : false,
          "name" : "use-transactions",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "acks" : {
          "displayName" : "Delivery Guarantee",
          "identifiesControllerService" : false,
          "name" : "acks",
          "sensitive" : false
        },
        "bootstrap.servers" : {
          "displayName" : "Kafka Brokers",
          "identifiesControllerService" : false,
          "name" : "bootstrap.servers",
          "sensitive" : false
        },
        "sasl.kerberos.principal" : {
          "displayName" : "Kerberos Principal",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.principal",
          "sensitive" : false
        },
        "sasl.kerberos.service.name" : {
          "displayName" : "Kerberos Service Name",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.service.name",
          "sensitive" : false
        },
        "security.protocol" : {
          "displayName" : "Security Protocol",
          "identifiesControllerService" : false,
          "name" : "security.protocol",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "ssl.context.service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "ssl.context.service",
          "sensitive" : false
        },
        "max.request.size" : {
          "displayName" : "Max Request Size",
          "identifiesControllerService" : false,
          "name" : "max.request.size",
          "sensitive" : false
        },
        "message-key-field" : {
          "displayName" : "Message Key Field",
          "identifiesControllerService" : false,
          "name" : "message-key-field",
          "sensitive" : false
        },
        "max.block.ms" : {
          "displayName" : "Max Metadata Wait Time",
          "identifiesControllerService" : false,
          "name" : "max.block.ms",
          "sensitive" : false
        },
        "partitioner.class" : {
          "displayName" : "Partitioner class",
          "identifiesControllerService" : false,
          "name" : "partitioner.class",
          "sensitive" : false
        },
        "sasl.kerberos.keytab" : {
          "displayName" : "Kerberos Keytab",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.keytab",
          "sensitive" : false
        },
        "topic" : {
          "displayName" : "Topic Name",
          "identifiesControllerService" : false,
          "name" : "topic",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "message-header-encoding" : {
          "displayName" : "Message Header Encoding",
          "identifiesControllerService" : false,
          "name" : "message-header-encoding",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "2f359f88-d656-37a8-aeca-72878c1069ae",
      "name" : "SplitJson",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -2906.3629732739223,
        "y" : 1690.5881584208712
      },
      "properties" : {
        "Null Value Representation" : "empty string",
        "JsonPath Expression" : "$.*"
      },
      "propertyDescriptors" : {
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "JsonPath Expression" : {
          "displayName" : "JsonPath Expression",
          "identifiesControllerService" : false,
          "name" : "JsonPath Expression",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.SplitJson",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-2-0-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "6b013e45-e93f-3121-ae4e-d75469f892fd",
      "name" : "PublishKafkaRecord_2_0",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 273.1577777862549,
        "y" : 752.9431686401367
      },
      "properties" : {
        "compression.type" : "none",
        "ack.wait.time" : "5 secs",
        "use-transactions" : "false",
        "record-writer" : "35c6a87d-87db-3a67-9f43-b58cad94e00a",
        "acks" : "all",
        "bootstrap.servers" : "${kafka_brokers}",
        "security.protocol" : "PLAINTEXT",
        "max.request.size" : "1 MB",
        "message-key-field" : "${playerId}",
        "max.block.ms" : "5 sec",
        "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
        "topic" : "gtstg.gamebase_casino.rounds_extended",
        "record-reader" : "52ba1c9d-8e48-366d-bde2-b7fca2d89c8a",
        "message-header-encoding" : "UTF-8"
      },
      "propertyDescriptors" : {
        "compression.type" : {
          "displayName" : "Compression Type",
          "identifiesControllerService" : false,
          "name" : "compression.type",
          "sensitive" : false
        },
        "ack.wait.time" : {
          "displayName" : "Acknowledgment Wait Time",
          "identifiesControllerService" : false,
          "name" : "ack.wait.time",
          "sensitive" : false
        },
        "use-transactions" : {
          "displayName" : "Use Transactions",
          "identifiesControllerService" : false,
          "name" : "use-transactions",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "acks" : {
          "displayName" : "Delivery Guarantee",
          "identifiesControllerService" : false,
          "name" : "acks",
          "sensitive" : false
        },
        "bootstrap.servers" : {
          "displayName" : "Kafka Brokers",
          "identifiesControllerService" : false,
          "name" : "bootstrap.servers",
          "sensitive" : false
        },
        "sasl.kerberos.principal" : {
          "displayName" : "Kerberos Principal",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.principal",
          "sensitive" : false
        },
        "sasl.kerberos.service.name" : {
          "displayName" : "Kerberos Service Name",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.service.name",
          "sensitive" : false
        },
        "security.protocol" : {
          "displayName" : "Security Protocol",
          "identifiesControllerService" : false,
          "name" : "security.protocol",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "ssl.context.service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "ssl.context.service",
          "sensitive" : false
        },
        "max.request.size" : {
          "displayName" : "Max Request Size",
          "identifiesControllerService" : false,
          "name" : "max.request.size",
          "sensitive" : false
        },
        "message-key-field" : {
          "displayName" : "Message Key Field",
          "identifiesControllerService" : false,
          "name" : "message-key-field",
          "sensitive" : false
        },
        "max.block.ms" : {
          "displayName" : "Max Metadata Wait Time",
          "identifiesControllerService" : false,
          "name" : "max.block.ms",
          "sensitive" : false
        },
        "partitioner.class" : {
          "displayName" : "Partitioner class",
          "identifiesControllerService" : false,
          "name" : "partitioner.class",
          "sensitive" : false
        },
        "sasl.kerberos.keytab" : {
          "displayName" : "Kerberos Keytab",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.keytab",
          "sensitive" : false
        },
        "topic" : {
          "displayName" : "Topic Name",
          "identifiesControllerService" : false,
          "name" : "topic",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "message-header-encoding" : {
          "displayName" : "Message Header Encoding",
          "identifiesControllerService" : false,
          "name" : "message-header-encoding",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "010c1dce-e2f5-3c53-aad6-0d03cd95fe05",
      "name" : "EvaluateJsonPath",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -3493.8629732739237,
        "y" : 1676.8381584208714
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "Return Type" : "auto-detect",
        "Null Value Representation" : "empty string",
        "Stake" : "$.stake",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "Stake" : {
          "displayName" : "Stake",
          "identifiesControllerService" : false,
          "name" : "Stake",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-2-0-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "9abd84f2-4909-3007-bb5c-1ce62fdd0c38",
      "name" : "PublishKafkaRecord_2_0",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1331.6614055633545,
        "y" : 708.7538986206055
      },
      "properties" : {
        "compression.type" : "none",
        "ack.wait.time" : "5 secs",
        "use-transactions" : "false",
        "record-writer" : "35c6a87d-87db-3a67-9f43-b58cad94e00a",
        "acks" : "all",
        "bootstrap.servers" : "${kafka_brokers}",
        "security.protocol" : "PLAINTEXT",
        "max.request.size" : "1 MB",
        "message-key-field" : "${siteId}",
        "max.block.ms" : "5 sec",
        "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
        "topic" : "hpasu.nifi.rounds_finished",
        "record-reader" : "52ba1c9d-8e48-366d-bde2-b7fca2d89c8a",
        "message-header-encoding" : "UTF-8"
      },
      "propertyDescriptors" : {
        "compression.type" : {
          "displayName" : "Compression Type",
          "identifiesControllerService" : false,
          "name" : "compression.type",
          "sensitive" : false
        },
        "ack.wait.time" : {
          "displayName" : "Acknowledgment Wait Time",
          "identifiesControllerService" : false,
          "name" : "ack.wait.time",
          "sensitive" : false
        },
        "use-transactions" : {
          "displayName" : "Use Transactions",
          "identifiesControllerService" : false,
          "name" : "use-transactions",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "acks" : {
          "displayName" : "Delivery Guarantee",
          "identifiesControllerService" : false,
          "name" : "acks",
          "sensitive" : false
        },
        "bootstrap.servers" : {
          "displayName" : "Kafka Brokers",
          "identifiesControllerService" : false,
          "name" : "bootstrap.servers",
          "sensitive" : false
        },
        "sasl.kerberos.principal" : {
          "displayName" : "Kerberos Principal",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.principal",
          "sensitive" : false
        },
        "sasl.kerberos.service.name" : {
          "displayName" : "Kerberos Service Name",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.service.name",
          "sensitive" : false
        },
        "security.protocol" : {
          "displayName" : "Security Protocol",
          "identifiesControllerService" : false,
          "name" : "security.protocol",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "ssl.context.service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "ssl.context.service",
          "sensitive" : false
        },
        "max.request.size" : {
          "displayName" : "Max Request Size",
          "identifiesControllerService" : false,
          "name" : "max.request.size",
          "sensitive" : false
        },
        "message-key-field" : {
          "displayName" : "Message Key Field",
          "identifiesControllerService" : false,
          "name" : "message-key-field",
          "sensitive" : false
        },
        "max.block.ms" : {
          "displayName" : "Max Metadata Wait Time",
          "identifiesControllerService" : false,
          "name" : "max.block.ms",
          "sensitive" : false
        },
        "partitioner.class" : {
          "displayName" : "Partitioner class",
          "identifiesControllerService" : false,
          "name" : "partitioner.class",
          "sensitive" : false
        },
        "sasl.kerberos.keytab" : {
          "displayName" : "Kerberos Keytab",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.keytab",
          "sensitive" : false
        },
        "topic" : {
          "displayName" : "Topic Name",
          "identifiesControllerService" : false,
          "name" : "topic",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "message-header-encoding" : {
          "displayName" : "Message Header Encoding",
          "identifiesControllerService" : false,
          "name" : "message-header-encoding",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-2-0-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 5,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "c8a39a75-7d10-3dd6-96bc-114f5f6e60bf",
      "name" : "PublishKafkaRecord_2_0",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -893.0650653839111,
        "y" : 1313.6613693237305
      },
      "properties" : {
        "compression.type" : "none",
        "ack.wait.time" : "5 secs",
        "use-transactions" : "false",
        "record-writer" : "35c6a87d-87db-3a67-9f43-b58cad94e00a",
        "acks" : "all",
        "bootstrap.servers" : "${kafka_brokers}",
        "security.protocol" : "PLAINTEXT",
        "max.request.size" : "1 MB",
        "message-key-field" : "${playerId}",
        "max.block.ms" : "5 sec",
        "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
        "topic" : "aneme.nifi.test.round_finished.s${siteId}",
        "record-reader" : "20987b12-b6ab-314b-b7e5-39e76e0443a4",
        "message-header-encoding" : "UTF-8"
      },
      "propertyDescriptors" : {
        "compression.type" : {
          "displayName" : "Compression Type",
          "identifiesControllerService" : false,
          "name" : "compression.type",
          "sensitive" : false
        },
        "ack.wait.time" : {
          "displayName" : "Acknowledgment Wait Time",
          "identifiesControllerService" : false,
          "name" : "ack.wait.time",
          "sensitive" : false
        },
        "use-transactions" : {
          "displayName" : "Use Transactions",
          "identifiesControllerService" : false,
          "name" : "use-transactions",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "acks" : {
          "displayName" : "Delivery Guarantee",
          "identifiesControllerService" : false,
          "name" : "acks",
          "sensitive" : false
        },
        "bootstrap.servers" : {
          "displayName" : "Kafka Brokers",
          "identifiesControllerService" : false,
          "name" : "bootstrap.servers",
          "sensitive" : false
        },
        "sasl.kerberos.principal" : {
          "displayName" : "Kerberos Principal",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.principal",
          "sensitive" : false
        },
        "sasl.kerberos.service.name" : {
          "displayName" : "Kerberos Service Name",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.service.name",
          "sensitive" : false
        },
        "security.protocol" : {
          "displayName" : "Security Protocol",
          "identifiesControllerService" : false,
          "name" : "security.protocol",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "ssl.context.service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "ssl.context.service",
          "sensitive" : false
        },
        "max.request.size" : {
          "displayName" : "Max Request Size",
          "identifiesControllerService" : false,
          "name" : "max.request.size",
          "sensitive" : false
        },
        "message-key-field" : {
          "displayName" : "Message Key Field",
          "identifiesControllerService" : false,
          "name" : "message-key-field",
          "sensitive" : false
        },
        "max.block.ms" : {
          "displayName" : "Max Metadata Wait Time",
          "identifiesControllerService" : false,
          "name" : "max.block.ms",
          "sensitive" : false
        },
        "partitioner.class" : {
          "displayName" : "Partitioner class",
          "identifiesControllerService" : false,
          "name" : "partitioner.class",
          "sensitive" : false
        },
        "sasl.kerberos.keytab" : {
          "displayName" : "Kerberos Keytab",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.keytab",
          "sensitive" : false
        },
        "topic" : {
          "displayName" : "Topic Name",
          "identifiesControllerService" : false,
          "name" : "topic",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "message-header-encoding" : {
          "displayName" : "Message Header Encoding",
          "identifiesControllerService" : false,
          "name" : "message-header-encoding",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-2-0-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "f2af62d9-5e92-38dc-b383-e093932e74d0",
      "name" : "PublishKafkaRecord_2_0",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 731.0354747772217,
        "y" : 1436.772331237793
      },
      "properties" : {
        "compression.type" : "none",
        "ack.wait.time" : "5 secs",
        "use-transactions" : "false",
        "record-writer" : "35c6a87d-87db-3a67-9f43-b58cad94e00a",
        "acks" : "all",
        "bootstrap.servers" : "${kafka_brokers}",
        "security.protocol" : "PLAINTEXT",
        "max.request.size" : "1 MB",
        "message-key-field" : "${PlayerId}",
        "max.block.ms" : "5 sec",
        "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
        "topic" : "gtstg.gamebase.player_events",
        "record-reader" : "52ba1c9d-8e48-366d-bde2-b7fca2d89c8a",
        "message-header-encoding" : "UTF-8"
      },
      "propertyDescriptors" : {
        "compression.type" : {
          "displayName" : "Compression Type",
          "identifiesControllerService" : false,
          "name" : "compression.type",
          "sensitive" : false
        },
        "ack.wait.time" : {
          "displayName" : "Acknowledgment Wait Time",
          "identifiesControllerService" : false,
          "name" : "ack.wait.time",
          "sensitive" : false
        },
        "use-transactions" : {
          "displayName" : "Use Transactions",
          "identifiesControllerService" : false,
          "name" : "use-transactions",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "acks" : {
          "displayName" : "Delivery Guarantee",
          "identifiesControllerService" : false,
          "name" : "acks",
          "sensitive" : false
        },
        "bootstrap.servers" : {
          "displayName" : "Kafka Brokers",
          "identifiesControllerService" : false,
          "name" : "bootstrap.servers",
          "sensitive" : false
        },
        "sasl.kerberos.principal" : {
          "displayName" : "Kerberos Principal",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.principal",
          "sensitive" : false
        },
        "sasl.kerberos.service.name" : {
          "displayName" : "Kerberos Service Name",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.service.name",
          "sensitive" : false
        },
        "security.protocol" : {
          "displayName" : "Security Protocol",
          "identifiesControllerService" : false,
          "name" : "security.protocol",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "ssl.context.service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "ssl.context.service",
          "sensitive" : false
        },
        "max.request.size" : {
          "displayName" : "Max Request Size",
          "identifiesControllerService" : false,
          "name" : "max.request.size",
          "sensitive" : false
        },
        "message-key-field" : {
          "displayName" : "Message Key Field",
          "identifiesControllerService" : false,
          "name" : "message-key-field",
          "sensitive" : false
        },
        "max.block.ms" : {
          "displayName" : "Max Metadata Wait Time",
          "identifiesControllerService" : false,
          "name" : "max.block.ms",
          "sensitive" : false
        },
        "partitioner.class" : {
          "displayName" : "Partitioner class",
          "identifiesControllerService" : false,
          "name" : "partitioner.class",
          "sensitive" : false
        },
        "sasl.kerberos.keytab" : {
          "displayName" : "Kerberos Keytab",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.keytab",
          "sensitive" : false
        },
        "topic" : {
          "displayName" : "Topic Name",
          "identifiesControllerService" : false,
          "name" : "topic",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "message-header-encoding" : {
          "displayName" : "Message Header Encoding",
          "identifiesControllerService" : false,
          "name" : "message-header-encoding",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-2-0-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "77f61e5c-e53f-3d24-b19a-30b32cf38f2c",
      "name" : "ConsumeKafkaRecord_2_0",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -907.1798734239128,
        "y" : 896.5975066092778
      },
      "properties" : {
        "max.poll.records" : "10000",
        "record-writer" : "35c6a87d-87db-3a67-9f43-b58cad94e00a",
        "group.id" : "aneme.nifi.rounds_finished.test1",
        "bootstrap.servers" : "${kafka_brokers}",
        "topic_type" : "names",
        "security.protocol" : "PLAINTEXT",
        "max-uncommit-offset-wait" : "1 secs",
        "honor-transactions" : "true",
        "Communications Timeout" : "60 secs",
        "topic" : "hpasu.nifi.rounds_finished",
        "record-reader" : "20987b12-b6ab-314b-b7e5-39e76e0443a4",
        "message-header-encoding" : "UTF-8",
        "auto.offset.reset" : "latest"
      },
      "propertyDescriptors" : {
        "header-name-regex" : {
          "displayName" : "Headers to Add as Attributes (Regex)",
          "identifiesControllerService" : false,
          "name" : "header-name-regex",
          "sensitive" : false
        },
        "max.poll.records" : {
          "displayName" : "Max Poll Records",
          "identifiesControllerService" : false,
          "name" : "max.poll.records",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "group.id" : {
          "displayName" : "Group ID",
          "identifiesControllerService" : false,
          "name" : "group.id",
          "sensitive" : false
        },
        "bootstrap.servers" : {
          "displayName" : "Kafka Brokers",
          "identifiesControllerService" : false,
          "name" : "bootstrap.servers",
          "sensitive" : false
        },
        "topic_type" : {
          "displayName" : "Topic Name Format",
          "identifiesControllerService" : false,
          "name" : "topic_type",
          "sensitive" : false
        },
        "sasl.kerberos.principal" : {
          "displayName" : "Kerberos Principal",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.principal",
          "sensitive" : false
        },
        "sasl.kerberos.service.name" : {
          "displayName" : "Kerberos Service Name",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.service.name",
          "sensitive" : false
        },
        "security.protocol" : {
          "displayName" : "Security Protocol",
          "identifiesControllerService" : false,
          "name" : "security.protocol",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "ssl.context.service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "ssl.context.service",
          "sensitive" : false
        },
        "max-uncommit-offset-wait" : {
          "displayName" : "Max Uncommitted Time",
          "identifiesControllerService" : false,
          "name" : "max-uncommit-offset-wait",
          "sensitive" : false
        },
        "honor-transactions" : {
          "displayName" : "Honor Transactions",
          "identifiesControllerService" : false,
          "name" : "honor-transactions",
          "sensitive" : false
        },
        "sasl.kerberos.keytab" : {
          "displayName" : "Kerberos Keytab",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.keytab",
          "sensitive" : false
        },
        "Communications Timeout" : {
          "displayName" : "Communications Timeout",
          "identifiesControllerService" : false,
          "name" : "Communications Timeout",
          "sensitive" : false
        },
        "topic" : {
          "displayName" : "Topic Name(s)",
          "identifiesControllerService" : false,
          "name" : "topic",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "message-header-encoding" : {
          "displayName" : "Message Header Encoding",
          "identifiesControllerService" : false,
          "name" : "message-header-encoding",
          "sensitive" : false
        },
        "auto.offset.reset" : {
          "displayName" : "Offset Reset",
          "identifiesControllerService" : false,
          "name" : "auto.offset.reset",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "576c806c-b62c-3ec2-a816-8c60729ee27d",
      "name" : "PartitionRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -902.2700567235086,
        "y" : 1102.9242931507472
      },
      "properties" : {
        "record-writer" : "35c6a87d-87db-3a67-9f43-b58cad94e00a",
        "siteId" : "/siteId",
        "record-reader" : "20987b12-b6ab-314b-b7e5-39e76e0443a4"
      },
      "propertyDescriptors" : {
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "siteId" : {
          "displayName" : "siteId",
          "identifiesControllerService" : false,
          "name" : "siteId",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PartitionRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-2-0-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "5fb1f12c-596b-3926-ae99-5469d3f98b49",
      "name" : "PublishKafkaRecord_2_0",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -3531.661283493042,
        "y" : 796.2538986206055
      },
      "properties" : {
        "compression.type" : "none",
        "ack.wait.time" : "5 secs",
        "use-transactions" : "false",
        "record-writer" : "35c6a87d-87db-3a67-9f43-b58cad94e00a",
        "acks" : "all",
        "bootstrap.servers" : "${kafka_brokers}",
        "security.protocol" : "PLAINTEXT",
        "max.request.size" : "1 MB",
        "message-key-field" : "${siteId}",
        "max.block.ms" : "5 sec",
        "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
        "topic" : "bogri.nifi.rounds_finished",
        "record-reader" : "52ba1c9d-8e48-366d-bde2-b7fca2d89c8a",
        "message-header-encoding" : "UTF-8"
      },
      "propertyDescriptors" : {
        "compression.type" : {
          "displayName" : "Compression Type",
          "identifiesControllerService" : false,
          "name" : "compression.type",
          "sensitive" : false
        },
        "ack.wait.time" : {
          "displayName" : "Acknowledgment Wait Time",
          "identifiesControllerService" : false,
          "name" : "ack.wait.time",
          "sensitive" : false
        },
        "use-transactions" : {
          "displayName" : "Use Transactions",
          "identifiesControllerService" : false,
          "name" : "use-transactions",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "acks" : {
          "displayName" : "Delivery Guarantee",
          "identifiesControllerService" : false,
          "name" : "acks",
          "sensitive" : false
        },
        "bootstrap.servers" : {
          "displayName" : "Kafka Brokers",
          "identifiesControllerService" : false,
          "name" : "bootstrap.servers",
          "sensitive" : false
        },
        "sasl.kerberos.principal" : {
          "displayName" : "Kerberos Principal",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.principal",
          "sensitive" : false
        },
        "sasl.kerberos.service.name" : {
          "displayName" : "Kerberos Service Name",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.service.name",
          "sensitive" : false
        },
        "security.protocol" : {
          "displayName" : "Security Protocol",
          "identifiesControllerService" : false,
          "name" : "security.protocol",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "ssl.context.service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "ssl.context.service",
          "sensitive" : false
        },
        "max.request.size" : {
          "displayName" : "Max Request Size",
          "identifiesControllerService" : false,
          "name" : "max.request.size",
          "sensitive" : false
        },
        "message-key-field" : {
          "displayName" : "Message Key Field",
          "identifiesControllerService" : false,
          "name" : "message-key-field",
          "sensitive" : false
        },
        "max.block.ms" : {
          "displayName" : "Max Metadata Wait Time",
          "identifiesControllerService" : false,
          "name" : "max.block.ms",
          "sensitive" : false
        },
        "partitioner.class" : {
          "displayName" : "Partitioner class",
          "identifiesControllerService" : false,
          "name" : "partitioner.class",
          "sensitive" : false
        },
        "sasl.kerberos.keytab" : {
          "displayName" : "Kerberos Keytab",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.keytab",
          "sensitive" : false
        },
        "topic" : {
          "displayName" : "Topic Name",
          "identifiesControllerService" : false,
          "name" : "topic",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "message-header-encoding" : {
          "displayName" : "Message Header Encoding",
          "identifiesControllerService" : false,
          "name" : "message-header-encoding",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 6,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "a86ae118-b241-31eb-bc08-bb4775aeb23c",
      "name" : "EvaluateJsonPath",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1720.5627163512768,
        "y" : 1293.7859579104515
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "Return Type" : "auto-detect",
        "siteId" : "$.siteId",
        "Null Value Representation" : "empty string",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "siteId" : {
          "displayName" : "siteId",
          "identifiesControllerService" : false,
          "name" : "siteId",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "7163eabf-5367-3aa7-897e-a5e34e088b51",
      "name" : "UpdateCounter",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -3826.362973273924,
        "y" : 1466.838158420871
      },
      "properties" : {
        "counter-name" : "${playerId}",
        "delta" : "${Stake}"
      },
      "propertyDescriptors" : {
        "counter-name" : {
          "displayName" : "Counter Name",
          "identifiesControllerService" : false,
          "name" : "counter-name",
          "sensitive" : false
        },
        "delta" : {
          "displayName" : "Delta",
          "identifiesControllerService" : false,
          "name" : "delta",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.UpdateCounter",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "9a1eaa70-f9c7-3b28-bfdf-1ddf8925a51b",
      "name" : "Offload Logins",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 279.5750822704447,
        "y" : 1194.87748664631
      },
      "properties" : {
        "Table Name" : "PLAYERS_BASE",
        "db-fetch-db-type" : "MS SQL 2012+",
        "dbf-default-precision" : "28",
        "Max Wait Time" : "0 seconds",
        "Database Connection Pooling Service" : "e8d7ce32-59c0-37cd-9fa0-9dc1b4dbf25a",
        "Maximum-value Columns" : "cdate",
        "dbf-user-logical-types" : "true",
        "qdbt-output-batch-size" : "1000",
        "qdbt-max-rows" : "1000",
        "qdbt-max-frags" : "0",
        "dbf-default-scale" : "12",
        "Fetch Size" : "1000",
        "db-fetch-sql-query" : "select lpl.id [LoginId]\n\t,lpl.cdate\n\t,lpl.fk_player [PlayerId]\n\t,pb.fk_site [SiteId]\n\t,lpl.ip\n\t,lpl.success\n\t,lpl.fk_country [CountryIp]\n\t,lpl.fk_client [ClientId]\n\t,lpl.fk_application [ApplicationId]\nfrom gamebase.dbo.log_player_logins lpl with (nolock)\n\tleft join gamebase.dbo.players_base pb with (nolock) on pb.id_player = lpl.fk_player\n",
        "db-fetch-where-clause" : "cdate >= '2019-07-26 12:00:00'",
        "dbf-normalize" : "false",
        "transaction-isolation-level" : "1"
      },
      "propertyDescriptors" : {
        "Table Name" : {
          "displayName" : "Table Name",
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "db-fetch-db-type" : {
          "displayName" : "Database Type",
          "identifiesControllerService" : false,
          "name" : "db-fetch-db-type",
          "sensitive" : false
        },
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "Maximum-value Columns" : {
          "displayName" : "Maximum-value Columns",
          "identifiesControllerService" : false,
          "name" : "Maximum-value Columns",
          "sensitive" : false
        },
        "dbf-user-logical-types" : {
          "displayName" : "Use Avro Logical Types",
          "identifiesControllerService" : false,
          "name" : "dbf-user-logical-types",
          "sensitive" : false
        },
        "qdbt-output-batch-size" : {
          "displayName" : "Output Batch Size",
          "identifiesControllerService" : false,
          "name" : "qdbt-output-batch-size",
          "sensitive" : false
        },
        "qdbt-max-rows" : {
          "displayName" : "Max Rows Per Flow File",
          "identifiesControllerService" : false,
          "name" : "qdbt-max-rows",
          "sensitive" : false
        },
        "qdbt-max-frags" : {
          "displayName" : "Maximum Number of Fragments",
          "identifiesControllerService" : false,
          "name" : "qdbt-max-frags",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "Fetch Size" : {
          "displayName" : "Fetch Size",
          "identifiesControllerService" : false,
          "name" : "Fetch Size",
          "sensitive" : false
        },
        "db-fetch-sql-query" : {
          "displayName" : "Custom Query",
          "identifiesControllerService" : false,
          "name" : "db-fetch-sql-query",
          "sensitive" : false
        },
        "Columns to Return" : {
          "displayName" : "Columns to Return",
          "identifiesControllerService" : false,
          "name" : "Columns to Return",
          "sensitive" : false
        },
        "db-fetch-where-clause" : {
          "displayName" : "Additional WHERE clause",
          "identifiesControllerService" : false,
          "name" : "db-fetch-where-clause",
          "sensitive" : false
        },
        "dbf-normalize" : {
          "displayName" : "Normalize Table/Column Names",
          "identifiesControllerService" : false,
          "name" : "dbf-normalize",
          "sensitive" : false
        },
        "transaction-isolation-level" : {
          "displayName" : "Transaction Isolation Level",
          "identifiesControllerService" : false,
          "name" : "transaction-isolation-level",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.QueryDatabaseTable",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "43dc149f-c01d-3bc3-b0c0-5f573ab57777",
      "name" : "Offload finished rounds",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1342.8858173999922,
        "y" : 514.8259267152562
      },
      "properties" : {
        "Table Name" : "rounds",
        "db-fetch-db-type" : "MS SQL 2012+",
        "dbf-default-precision" : "28",
        "Max Wait Time" : "0 seconds",
        "Database Connection Pooling Service" : "e8d7ce32-59c0-37cd-9fa0-9dc1b4dbf25a",
        "Maximum-value Columns" : "finishDate",
        "dbf-user-logical-types" : "true",
        "qdbt-output-batch-size" : "1000",
        "qdbt-max-rows" : "1000",
        "qdbt-max-frags" : "0",
        "dbf-default-scale" : "12",
        "Fetch Size" : "1000",
        "db-fetch-sql-query" : "SELECT\ns.fk_player [playerId],\np.fkg_site [siteId],\ns.fkg_applicationStarted [applicationId],\nr.fkg_clientTypeStarted [clientTypeId],\ns.fkg_gameIdRow [gameId],\nr.fk_session [sessionId],\nr.id [roundId],\nr.stake,\nr.win,\nr.winEstimatedExtra,\nr.isFinished,\nr.isJackpotHit,\nr.jackpotFee,\nr.jackpotWin,\nr.betsPlaced,\nr.cDate,\nr.finishDate,\nr.totalWinEuro,\nr.jackpotStake,\nr.stakeBonusFraction,\ns.fkg_currency,\ns.fkg_currencyRate,\ns.currencySign,\nccr.rate [exchangeRate]\nFROM [gamebase_casino].[dbo].[ROUNDS] r with (nolock)\nLEFT JOIN [gamebase_casino].[dbo].[SESSIONS] s with (nolock)\nON (r.fk_session = s.id)\nINNER JOIN [gamebase_casino].[dbo].[PLAYERS] p with (nolock)\nON (s.fk_player = p.fk_player)\nINNER JOIN [gamebase].[dbo].[CS_CURRENCY_RATES] ccr with (nolock)\nON (ccr.id_rate = s.fkg_currencyRate)",
        "siteId" : "/siteId",
        "dbf-normalize" : "false",
        "transaction-isolation-level" : "2"
      },
      "propertyDescriptors" : {
        "Table Name" : {
          "displayName" : "Table Name",
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "db-fetch-db-type" : {
          "displayName" : "Database Type",
          "identifiesControllerService" : false,
          "name" : "db-fetch-db-type",
          "sensitive" : false
        },
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "Maximum-value Columns" : {
          "displayName" : "Maximum-value Columns",
          "identifiesControllerService" : false,
          "name" : "Maximum-value Columns",
          "sensitive" : false
        },
        "dbf-user-logical-types" : {
          "displayName" : "Use Avro Logical Types",
          "identifiesControllerService" : false,
          "name" : "dbf-user-logical-types",
          "sensitive" : false
        },
        "qdbt-output-batch-size" : {
          "displayName" : "Output Batch Size",
          "identifiesControllerService" : false,
          "name" : "qdbt-output-batch-size",
          "sensitive" : false
        },
        "qdbt-max-rows" : {
          "displayName" : "Max Rows Per Flow File",
          "identifiesControllerService" : false,
          "name" : "qdbt-max-rows",
          "sensitive" : false
        },
        "qdbt-max-frags" : {
          "displayName" : "Maximum Number of Fragments",
          "identifiesControllerService" : false,
          "name" : "qdbt-max-frags",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "Fetch Size" : {
          "displayName" : "Fetch Size",
          "identifiesControllerService" : false,
          "name" : "Fetch Size",
          "sensitive" : false
        },
        "db-fetch-sql-query" : {
          "displayName" : "Custom Query",
          "identifiesControllerService" : false,
          "name" : "db-fetch-sql-query",
          "sensitive" : false
        },
        "Columns to Return" : {
          "displayName" : "Columns to Return",
          "identifiesControllerService" : false,
          "name" : "Columns to Return",
          "sensitive" : false
        },
        "db-fetch-where-clause" : {
          "displayName" : "Additional WHERE clause",
          "identifiesControllerService" : false,
          "name" : "db-fetch-where-clause",
          "sensitive" : false
        },
        "siteId" : {
          "displayName" : "siteId",
          "identifiesControllerService" : false,
          "name" : "siteId",
          "sensitive" : false
        },
        "dbf-normalize" : {
          "displayName" : "Normalize Table/Column Names",
          "identifiesControllerService" : false,
          "name" : "dbf-normalize",
          "sensitive" : false
        },
        "transaction-isolation-level" : {
          "displayName" : "Transaction Isolation Level",
          "identifiesControllerService" : false,
          "name" : "transaction-isolation-level",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.QueryDatabaseTable",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-2-0-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 5,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "dcd1eeac-6075-3cb9-85a9-5b1a795a8f9d",
      "name" : "PublishKafkaRecord_2_0",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -2901.582094192505,
        "y" : 906.3827438354492
      },
      "properties" : {
        "compression.type" : "none",
        "ack.wait.time" : "5 secs",
        "use-transactions" : "false",
        "record-writer" : "35c6a87d-87db-3a67-9f43-b58cad94e00a",
        "acks" : "all",
        "bootstrap.servers" : "${kafka_brokers}",
        "security.protocol" : "PLAINTEXT",
        "max.request.size" : "1 MB",
        "message-key-field" : "${playerId}",
        "max.block.ms" : "5 sec",
        "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
        "topic" : "bogri.nifi.test.round_finished.s${siteId}",
        "record-reader" : "20987b12-b6ab-314b-b7e5-39e76e0443a4",
        "message-header-encoding" : "UTF-8"
      },
      "propertyDescriptors" : {
        "compression.type" : {
          "displayName" : "Compression Type",
          "identifiesControllerService" : false,
          "name" : "compression.type",
          "sensitive" : false
        },
        "ack.wait.time" : {
          "displayName" : "Acknowledgment Wait Time",
          "identifiesControllerService" : false,
          "name" : "ack.wait.time",
          "sensitive" : false
        },
        "use-transactions" : {
          "displayName" : "Use Transactions",
          "identifiesControllerService" : false,
          "name" : "use-transactions",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "acks" : {
          "displayName" : "Delivery Guarantee",
          "identifiesControllerService" : false,
          "name" : "acks",
          "sensitive" : false
        },
        "bootstrap.servers" : {
          "displayName" : "Kafka Brokers",
          "identifiesControllerService" : false,
          "name" : "bootstrap.servers",
          "sensitive" : false
        },
        "sasl.kerberos.principal" : {
          "displayName" : "Kerberos Principal",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.principal",
          "sensitive" : false
        },
        "sasl.kerberos.service.name" : {
          "displayName" : "Kerberos Service Name",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.service.name",
          "sensitive" : false
        },
        "security.protocol" : {
          "displayName" : "Security Protocol",
          "identifiesControllerService" : false,
          "name" : "security.protocol",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "ssl.context.service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "ssl.context.service",
          "sensitive" : false
        },
        "max.request.size" : {
          "displayName" : "Max Request Size",
          "identifiesControllerService" : false,
          "name" : "max.request.size",
          "sensitive" : false
        },
        "message-key-field" : {
          "displayName" : "Message Key Field",
          "identifiesControllerService" : false,
          "name" : "message-key-field",
          "sensitive" : false
        },
        "max.block.ms" : {
          "displayName" : "Max Metadata Wait Time",
          "identifiesControllerService" : false,
          "name" : "max.block.ms",
          "sensitive" : false
        },
        "partitioner.class" : {
          "displayName" : "Partitioner class",
          "identifiesControllerService" : false,
          "name" : "partitioner.class",
          "sensitive" : false
        },
        "sasl.kerberos.keytab" : {
          "displayName" : "Kerberos Keytab",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.keytab",
          "sensitive" : false
        },
        "topic" : {
          "displayName" : "Topic Name",
          "identifiesControllerService" : false,
          "name" : "topic",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "message-header-encoding" : {
          "displayName" : "Message Header Encoding",
          "identifiesControllerService" : false,
          "name" : "message-header-encoding",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "39d17886-bf3a-390a-bda2-bec4e19f4905",
      "name" : "Offload finished rounds",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -3552.27778517343,
        "y" : 571.2449940980687
      },
      "properties" : {
        "Table Name" : "rounds",
        "db-fetch-db-type" : "MS SQL 2012+",
        "dbf-default-precision" : "28",
        "Max Wait Time" : "0 seconds",
        "Database Connection Pooling Service" : "e8d7ce32-59c0-37cd-9fa0-9dc1b4dbf25a",
        "Maximum-value Columns" : "finishDate",
        "dbf-user-logical-types" : "true",
        "qdbt-output-batch-size" : "1000",
        "qdbt-max-rows" : "1000",
        "qdbt-max-frags" : "0",
        "dbf-default-scale" : "12",
        "Fetch Size" : "1000",
        "db-fetch-sql-query" : "SELECT\ns.fk_player [playerId],\np.fkg_site [siteId],\ns.fkg_applicationStarted [applicationId],\nr.fkg_clientTypeStarted [clientTypeId],\ns.fkg_gameIdRow [gameId],\nr.fk_session [sessionId],\nr.id [roundId],\nr.stake,\nr.win,\nr.winEstimatedExtra,\nr.isFinished,\nr.isJackpotHit,\nr.jackpotFee,\nr.jackpotWin,\nr.betsPlaced,\nr.cDate,\nr.finishDate,\nr.totalWinEuro,\nr.jackpotStake,\nr.stakeBonusFraction,\ns.fkg_currency,\ns.fkg_currencyRate,\ns.currencySign,\nccr.rate [exchangeRate]\nFROM [gamebase_casino].[dbo].[ROUNDS] r with (nolock)\nLEFT JOIN [gamebase_casino].[dbo].[SESSIONS] s with (nolock)\nON (r.fk_session = s.id)\nINNER JOIN [gamebase_casino].[dbo].[PLAYERS] p with (nolock)\nON (s.fk_player = p.fk_player)\nINNER JOIN [gamebase].[dbo].[CS_CURRENCY_RATES] ccr with (nolock)\nON (ccr.id_rate = s.fkg_currencyRate)",
        "siteId" : "/siteId",
        "dbf-normalize" : "false",
        "transaction-isolation-level" : "2"
      },
      "propertyDescriptors" : {
        "Table Name" : {
          "displayName" : "Table Name",
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "db-fetch-db-type" : {
          "displayName" : "Database Type",
          "identifiesControllerService" : false,
          "name" : "db-fetch-db-type",
          "sensitive" : false
        },
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "Maximum-value Columns" : {
          "displayName" : "Maximum-value Columns",
          "identifiesControllerService" : false,
          "name" : "Maximum-value Columns",
          "sensitive" : false
        },
        "dbf-user-logical-types" : {
          "displayName" : "Use Avro Logical Types",
          "identifiesControllerService" : false,
          "name" : "dbf-user-logical-types",
          "sensitive" : false
        },
        "qdbt-output-batch-size" : {
          "displayName" : "Output Batch Size",
          "identifiesControllerService" : false,
          "name" : "qdbt-output-batch-size",
          "sensitive" : false
        },
        "qdbt-max-rows" : {
          "displayName" : "Max Rows Per Flow File",
          "identifiesControllerService" : false,
          "name" : "qdbt-max-rows",
          "sensitive" : false
        },
        "qdbt-max-frags" : {
          "displayName" : "Maximum Number of Fragments",
          "identifiesControllerService" : false,
          "name" : "qdbt-max-frags",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "Fetch Size" : {
          "displayName" : "Fetch Size",
          "identifiesControllerService" : false,
          "name" : "Fetch Size",
          "sensitive" : false
        },
        "db-fetch-sql-query" : {
          "displayName" : "Custom Query",
          "identifiesControllerService" : false,
          "name" : "db-fetch-sql-query",
          "sensitive" : false
        },
        "Columns to Return" : {
          "displayName" : "Columns to Return",
          "identifiesControllerService" : false,
          "name" : "Columns to Return",
          "sensitive" : false
        },
        "db-fetch-where-clause" : {
          "displayName" : "Additional WHERE clause",
          "identifiesControllerService" : false,
          "name" : "db-fetch-where-clause",
          "sensitive" : false
        },
        "siteId" : {
          "displayName" : "siteId",
          "identifiesControllerService" : false,
          "name" : "siteId",
          "sensitive" : false
        },
        "dbf-normalize" : {
          "displayName" : "Normalize Table/Column Names",
          "identifiesControllerService" : false,
          "name" : "dbf-normalize",
          "sensitive" : false
        },
        "transaction-isolation-level" : {
          "displayName" : "Transaction Isolation Level",
          "identifiesControllerService" : false,
          "name" : "transaction-isolation-level",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.QueryDatabaseTable",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "3ad00174-8185-30c6-8105-f8049a0fc271",
      "name" : "QueryRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -2316.536458138412,
        "y" : 1446.2373288069168
      },
      "properties" : {
        "sumOfStakes" : "select sum(stake) from flowfile",
        "cache-schema" : "true",
        "record-writer" : "35c6a87d-87db-3a67-9f43-b58cad94e00a",
        "record-reader" : "20987b12-b6ab-314b-b7e5-39e76e0443a4",
        "include-zero-record-flowfiles" : "true"
      },
      "propertyDescriptors" : {
        "sumOfStakes" : {
          "displayName" : "sumOfStakes",
          "identifiesControllerService" : false,
          "name" : "sumOfStakes",
          "sensitive" : false
        },
        "cache-schema" : {
          "displayName" : "Cache Schema",
          "identifiesControllerService" : false,
          "name" : "cache-schema",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "include-zero-record-flowfiles" : {
          "displayName" : "Include Zero Record FlowFiles",
          "identifiesControllerService" : false,
          "name" : "include-zero-record-flowfiles",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.QueryRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "original", "failure" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "38f17b3d-aa56-3aa5-b6b7-2a5c3cb8cc38",
      "name" : "SplitJson",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -1680.3332410310004,
        "y" : 1111.419765312366
      },
      "properties" : {
        "Null Value Representation" : "empty string",
        "JsonPath Expression" : "$.*"
      },
      "propertyDescriptors" : {
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "JsonPath Expression" : {
          "displayName" : "JsonPath Expression",
          "identifiesControllerService" : false,
          "name" : "JsonPath Expression",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.SplitJson",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "33c270af-0eac-3bee-8ed9-c0adc4081477",
      "name" : "Offload registrations",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 727.2221769970072,
        "y" : 1194.87748664631
      },
      "properties" : {
        "Table Name" : "PLAYERS_BASE",
        "db-fetch-db-type" : "MS SQL 2012+",
        "dbf-default-precision" : "28",
        "Max Wait Time" : "0 seconds",
        "Database Connection Pooling Service" : "e8d7ce32-59c0-37cd-9fa0-9dc1b4dbf25a",
        "Maximum-value Columns" : "cdate",
        "dbf-user-logical-types" : "true",
        "qdbt-output-batch-size" : "1000",
        "qdbt-max-rows" : "1000",
        "qdbt-max-frags" : "0",
        "dbf-default-scale" : "12",
        "Fetch Size" : "1000",
        "db-fetch-sql-query" : "select\n\tpb.id_player [PlayerId]\n\t,pb.fk_site [SiteId]\n\t,pe.cdate\n\t,pet.name [EventType]\nfrom gamebase.dbo.PLAYER_EVENT pe with (nolock)\n\tleft join gamebase.dbo.players_base pb with (nolock) on pb.id_player = pe.fk_player\n\tleft join gamebase.dbo.PLAYER_EVENT_TYPES pet with (nolock) on pet.id = pe.event_type",
        "db-fetch-where-clause" : "cdate >= '2019-07-26'",
        "dbf-normalize" : "false",
        "transaction-isolation-level" : "1"
      },
      "propertyDescriptors" : {
        "Table Name" : {
          "displayName" : "Table Name",
          "identifiesControllerService" : false,
          "name" : "Table Name",
          "sensitive" : false
        },
        "db-fetch-db-type" : {
          "displayName" : "Database Type",
          "identifiesControllerService" : false,
          "name" : "db-fetch-db-type",
          "sensitive" : false
        },
        "dbf-default-precision" : {
          "displayName" : "Default Decimal Precision",
          "identifiesControllerService" : false,
          "name" : "dbf-default-precision",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "Maximum-value Columns" : {
          "displayName" : "Maximum-value Columns",
          "identifiesControllerService" : false,
          "name" : "Maximum-value Columns",
          "sensitive" : false
        },
        "dbf-user-logical-types" : {
          "displayName" : "Use Avro Logical Types",
          "identifiesControllerService" : false,
          "name" : "dbf-user-logical-types",
          "sensitive" : false
        },
        "qdbt-output-batch-size" : {
          "displayName" : "Output Batch Size",
          "identifiesControllerService" : false,
          "name" : "qdbt-output-batch-size",
          "sensitive" : false
        },
        "qdbt-max-rows" : {
          "displayName" : "Max Rows Per Flow File",
          "identifiesControllerService" : false,
          "name" : "qdbt-max-rows",
          "sensitive" : false
        },
        "qdbt-max-frags" : {
          "displayName" : "Maximum Number of Fragments",
          "identifiesControllerService" : false,
          "name" : "qdbt-max-frags",
          "sensitive" : false
        },
        "dbf-default-scale" : {
          "displayName" : "Default Decimal Scale",
          "identifiesControllerService" : false,
          "name" : "dbf-default-scale",
          "sensitive" : false
        },
        "Fetch Size" : {
          "displayName" : "Fetch Size",
          "identifiesControllerService" : false,
          "name" : "Fetch Size",
          "sensitive" : false
        },
        "db-fetch-sql-query" : {
          "displayName" : "Custom Query",
          "identifiesControllerService" : false,
          "name" : "db-fetch-sql-query",
          "sensitive" : false
        },
        "Columns to Return" : {
          "displayName" : "Columns to Return",
          "identifiesControllerService" : false,
          "name" : "Columns to Return",
          "sensitive" : false
        },
        "db-fetch-where-clause" : {
          "displayName" : "Additional WHERE clause",
          "identifiesControllerService" : false,
          "name" : "db-fetch-where-clause",
          "sensitive" : false
        },
        "dbf-normalize" : {
          "displayName" : "Normalize Table/Column Names",
          "identifiesControllerService" : false,
          "name" : "dbf-normalize",
          "sensitive" : false
        },
        "transaction-isolation-level" : {
          "displayName" : "Transaction Isolation Level",
          "identifiesControllerService" : false,
          "name" : "transaction-isolation-level",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.QueryDatabaseTable",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-2-0-nar",
        "group" : "org.apache.nifi",
        "version" : "1.9.0.1.0.0.0-90"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "c1ab7b61-841a-368e-9073-98782d178d31",
      "identifier" : "4d22fa69-e6eb-30f1-8568-a35e5297cbd4",
      "name" : "PublishKafkaRecord_2_0",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 281.80102348327637,
        "y" : 1433.597526550293
      },
      "properties" : {
        "compression.type" : "none",
        "ack.wait.time" : "5 secs",
        "use-transactions" : "false",
        "record-writer" : "35c6a87d-87db-3a67-9f43-b58cad94e00a",
        "acks" : "all",
        "bootstrap.servers" : "${kafka_brokers}",
        "security.protocol" : "PLAINTEXT",
        "max.request.size" : "1 MB",
        "message-key-field" : "${PlayerId}",
        "max.block.ms" : "5 sec",
        "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
        "topic" : "gtstg.gamebase.player_logins",
        "record-reader" : "52ba1c9d-8e48-366d-bde2-b7fca2d89c8a",
        "message-header-encoding" : "UTF-8"
      },
      "propertyDescriptors" : {
        "compression.type" : {
          "displayName" : "Compression Type",
          "identifiesControllerService" : false,
          "name" : "compression.type",
          "sensitive" : false
        },
        "ack.wait.time" : {
          "displayName" : "Acknowledgment Wait Time",
          "identifiesControllerService" : false,
          "name" : "ack.wait.time",
          "sensitive" : false
        },
        "use-transactions" : {
          "displayName" : "Use Transactions",
          "identifiesControllerService" : false,
          "name" : "use-transactions",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "record-writer" : {
          "displayName" : "Record Writer",
          "identifiesControllerService" : true,
          "name" : "record-writer",
          "sensitive" : false
        },
        "acks" : {
          "displayName" : "Delivery Guarantee",
          "identifiesControllerService" : false,
          "name" : "acks",
          "sensitive" : false
        },
        "bootstrap.servers" : {
          "displayName" : "Kafka Brokers",
          "identifiesControllerService" : false,
          "name" : "bootstrap.servers",
          "sensitive" : false
        },
        "sasl.kerberos.principal" : {
          "displayName" : "Kerberos Principal",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.principal",
          "sensitive" : false
        },
        "sasl.kerberos.service.name" : {
          "displayName" : "Kerberos Service Name",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.service.name",
          "sensitive" : false
        },
        "security.protocol" : {
          "displayName" : "Security Protocol",
          "identifiesControllerService" : false,
          "name" : "security.protocol",
          "sensitive" : false
        },
        "kerberos-credentials-service" : {
          "displayName" : "Kerberos Credentials Service",
          "identifiesControllerService" : true,
          "name" : "kerberos-credentials-service",
          "sensitive" : false
        },
        "ssl.context.service" : {
          "displayName" : "SSL Context Service",
          "identifiesControllerService" : true,
          "name" : "ssl.context.service",
          "sensitive" : false
        },
        "max.request.size" : {
          "displayName" : "Max Request Size",
          "identifiesControllerService" : false,
          "name" : "max.request.size",
          "sensitive" : false
        },
        "message-key-field" : {
          "displayName" : "Message Key Field",
          "identifiesControllerService" : false,
          "name" : "message-key-field",
          "sensitive" : false
        },
        "max.block.ms" : {
          "displayName" : "Max Metadata Wait Time",
          "identifiesControllerService" : false,
          "name" : "max.block.ms",
          "sensitive" : false
        },
        "partitioner.class" : {
          "displayName" : "Partitioner class",
          "identifiesControllerService" : false,
          "name" : "partitioner.class",
          "sensitive" : false
        },
        "sasl.kerberos.keytab" : {
          "displayName" : "Kerberos Keytab",
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.keytab",
          "sensitive" : false
        },
        "topic" : {
          "displayName" : "Topic Name",
          "identifiesControllerService" : false,
          "name" : "topic",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "message-header-encoding" : {
          "displayName" : "Message Header Encoding",
          "identifiesControllerService" : false,
          "name" : "message-header-encoding",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "variables" : {
      "kudu_masters" : "stg-grta-kafka3-dev.gtstg.lan:7051",
      "kafka_brokers" : "stg-grta-kafka1-dev.gtstg.lan:9092,stg-grta-kafka2-dev.gtstg.lan:9092"
    }
  }
}